.section{
  display: grid;
  grid-template-columns: auto auto;
}

.section-cards{
  background-color: var(--third-color);
  grid-column: span 1;
  border: solid 1px var(--primary-color);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  i{
    color: var(--primary-color);
    font-size: 24px;
  }
  h3{
    font-weight: bold;
    color: var(--primary-color);
    font-size: 1.8rem;
  }
  p{
    font-size: 1.4rem;
  }
}
