<section class="badge">
  <p class="title-badge">Por favor elija el tipo de cambio</p>

  <section class="badge__flags">
      <button title="$" class="flag" (click)="changeBadge('USD')">
          <i class="fi fi-us"></i>
          USD
      </button>
      <button title="$" class="flag" (click)="changeBadge('COP')">
        <i class="fi fi-co"></i>
        COP
    </button>
    <button title="$" class="flag" (click)="changeBadge('EUR')">
      <i class="fi fi-eu"></i>
      EUR
  </button>
  </section>

</section>

